$color-primary: #108ee9;
$color-secondary: #38adff;
$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #fdfdfd;
$color-grey-light-3: #ffffff;
$color-grey-dark-1: #e7e8eb;
$color-grey-dark-2: #eceff4;
$color-grey-dark-3: #f5f6f8;
$color-grey-dark-4: #949494;
